body{
    font-family: FS Albert Pro, Helvetica, Arial, Verdana, sans-serif;}

.beta-banner{
    position: fixed; 
    top: 0;
    width: 100%; 
    background-color: #ff5900;
    color: white; 
    padding: 10px;
    z-index: 10;
}

.beta-banner p{
    margin: 0; 
    padding: 5px 0 0 0;
}

.close-btn{
    position: absolute; 
    bottom: 10px; 
    right: 90px;
    background: none; 
    border: none; 
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.close-btn hover{
    color: rgb(209, 158, 245);
}

.header{
    display: flex; 
    align-items: center;
    padding: 50px 0px 10px 0px; 
    margin: 10px 0px 20px 0px;
    height: 25vh;
    background-color: #004593;
}

.header-image{
    width: 400px;
    height: auto;
    margin-right: 20px;
}

.header-text{
    display: flex;
    flex-direction: column;
    padding:0px;
    margin:10px;
    line-height: 0.1;
}

.header-main-title{
    color: white; 
    font-size: 60px; 
    font-weight: bolder;
    text-align: center;
    transform: translateX(-150px);
    margin:0px ; /*remove default margins*/
}

.header-title{
    color: white; 
    font-size: 80px; 
    text-align: center;"
    margin:0px;
}

.user-main-input{
    color:rgb(31, 29, 29);
    font-size: medium;
    border: 2px double #004593;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 20px 15px 5px 20px;
}

.form-group{
    display: grid;
    grid-template-columns: 300px 500px 500px;
    align-items: left;
    margin-left: 10px;
}

label{
    font-size: 20px;
    text-align: left;
}

.input-field{
    border: none;
    outline: none;
    padding: 7px;
    border: 1px solid #ff5900;
    width: 100%%;
    border-radius: 5px;
}

.input-details{
    font-size:15px;
    color:darkred;
    width:100%;
    margin-left: 10px;
    padding: 10px 0 10px 0;
}

.form-group2{
    display: grid;
    grid-template-columns: 300px 800px ;
    align-items: left;
    margin-left: 10px;
}

.form-input2{
    border: none;
    outline: none;
    padding: 10px 0 10px 0;
    border: 1px solid #ff5900;
    width:100%;
    border-radius: 5px;
}




caption{
    margin-bottom: 5px; 
    font-weight: bolder;
    font-size: 20px;
    color:#004593;
}
table,th,td{
    border: 1px solid #01152c;
    border-radius: 3px;
    background-color: white;
    padding: 7px;
    border-collapse: collapse;
}

td{
    text-align: left;
}

h3,strong{
    color: #004593;
}

button{
    background-color:#004593;
    color: white; 
    padding: 8px; 
    border: 1px solid #ada1ef; 
    border-radius: 3px;
}

button:hover{
    background-color:#ff5900;
    color: navy;
    font-weight: bold;
}


