body{
    font-family: FS Albert Pro, Helvetica, Arial, Verdana, sans-serif;}

.header{
    display: flex; 
    align-items: center;
    padding: 50px 0px 10px 0px; 
    margin: 10px 0px 20px 0px;
    height: 25vh;
    font-size: 40px;
    background-color: #004593;
    color: white;
}

.header-image{
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-right: 20px;
}

.user-main-input{
    color:rgb(31, 29, 29);
    font-size: medium;
    border: 2px double #004593;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 20px 15px 20px 20px;
}

.form-group{
    display: grid;
    grid-template-columns: 300px 300px 500px;
    align-items: left;
    margin-left: 10px;
}

.form-group2{
    display: grid;
    grid-template-columns: 300px 800px ;
    align-items: left;
    margin-left: 10px;
}

label{
    font-size: 20px;
    text-align: left;
}

.input-field{
    border: none;
    outline: none;
    padding: 5px;
    border-bottom: 1px solid #004593;
    width: 100%;
    border-radius: 5px;
}

.input-details{
    font-size:15px;
    color:darkred;
    width:100%;
    margin-left: 10px;
    padding: 10px 0 10px 0;
}

.form-input2{
    border: none;
    outline: none;
    padding: 10px 0 10px 0;
    border: 1px solid #ff5900;
    width:100%;
    border-radius: 5px;
}

caption{
    margin-bottom: 5px; 
    font-weight: bolder;
    font-size: 20px;
    color:#004593;
}
table,th,td{
    border: 1px solid #01152c;
    border-radius: 3px;
    background-color: white;
    padding: 7px;
    border-collapse: collapse;
}

table {
    max-width: 1500px;
    width: 100%;
}

td{
    text-align: left;
}

.row-space{
    margin-bottom: 15px;
}

h3,strong{
    color: #004593;
}

.primary-button{
    background-color:#004593;
    color: white; 
    margin: 10px 0 10px 0;
    padding: 8px 15px 8px 15px; 
    border: 1px solid #ada1ef; 
    border-radius: 3px;
    font-size: 18px;
}

.primary-button:hover{
    background-color:#ff5900;
    color: navy;
    font-weight: bold;
}

.tooltip {
    position: relative;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    font-size: 12px;
    background-color: #00459389;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .info-button{
    background-color: #004593;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 10px;
    position: relative;
    cursor: pointer;
    width:15px;
    height:15px;
  }

  .info-button:hover::after {
    content: attr(data-info);
    max-width: 500px;
    height: auto;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #121213b6;
    color: white;
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
    white-space: normal;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.2s;
}


